.contact {
  height: auto;
  background: white;
  padding-top: 150px;
  padding-bottom: 150px;
}

.cont-clear {
  opacity: 0;
}

.contact-header {
  width: 150px;
  margin: 0 auto;
  font-size: 2.5rem;
  opacity: 1;
  animation: contanimate 0.8s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
}

.contact-underline {
  height: 5px;
  background: #d8364c;
  width: 80px;
  margin: 0 auto;
  opacity: 0;
  animation: contanimate 0.8s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 0.4s;
}
.contact-clear {
  opacity: 0;
  animation-delay: 0.4s;
}

.contact-container {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
  opacity: 0;
}

.contact-container-appear {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 0px;
  opacity: 0;
  animation: slidein 0.8s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
}

#message-sent {
  display: none;
  width: 320px;
  margin: 25px auto;
  border: 2px solid #d8364c;
  border-radius: 25px;
  color: #d8364c;
  cursor: pointer;
}

@keyframes contanimate {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 420px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .contact-header {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .contact-header {
    font-size: 1.8rem;
  }
}
