.project {
  position: relative;
  width: 450px;
  border-radius: 25px;
  margin: 25px;
}
.project img {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}
.projectoverlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  text-align: center;
  color: black;
  background: #f4f0f0;
}

.projectoverlay h2 {
  padding-top: 50px;
}

.projectoverlay p {
  padding-bottom: 150px;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .projectoverlay {
  opacity: 1;
}

.learnmore {
  border: 3px solid #d8364c;
  margin: 0 auto;
  width: 120px;
  transition: 0.5s ease;
  bottom: 10px;
  cursor: pointer;
}

.learnmore:hover {
  background: #d8364c;
  color: white;
  transition: 0.5s ease;
}

@media (max-width: 1500px) {
  .project {
    width: 375px;
    margin: 12px;
  }
  .projectoverlay h2 {
    padding-top: 50px;
  }

  .projectoverlay p {
    padding-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .project {
    width: 244px;
    margin: 6px;
  }
  .projectoverlay h2 {
    padding-top: 25px;
    font-size: 1.1rem;
  }
  .projectoverlay p {
    font-size: 0.7rem;
    padding-bottom: 75px;
  }

  .learnmore {
    border: 2px solid #d8364c;
    transition: 0.5s ease;
    bottom: 10px;
    width: 100px;
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .project {
    width: 80%;
    margin: 5px auto;
  }
  .projectoverlay h2 {
    margin-top: 10%;
    font-size: 1.5rem;
  }

  .projectoverlay p {
    font-size: 1rem;
    padding-bottom: 30%;
  }
  .learnmore {
    width: 140px;
    font-size: 1.2rem;
  }
}

@media (max-width: 460px) {
  .projectoverlay h2 {
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .projectoverlay p {
    font-size: 0.7rem;
    padding-bottom: 50px;
  }
  .learnmore {
    border: 2px solid #d8364c;
    width: 100px;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  .projectoverlay h2 {
    padding-top: 10px;
    font-size: 1rem;
  }

  .projectoverlay p {
    font-size: 0.7rem;
    padding-bottom: 30px;
  }
  .learnmore {
    border: 2px solid #d8364c;
    transition: 0.5s ease;
    bottom: 10px;
    font-size: 0.8rem;
  }
}
